.counter__container h1 {
    font-size: 50px;
    padding: 0px 10px 0px 10px;
}

.counter__button {
    padding: 0px 10px 10px 10px;
}

.counter__count {
    padding: 0px 10px 10px 10px;
    align-items: center;
}

.counter__count__heading {
    font-size: 40px;
    
}